<!-- Navigation Bar -->
<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/usage" routerLinkActive="active">Usage</a>
    </li>
    <li>
      <a routerLink="/imports" routerLinkActive="active">Imports</a>
    </li>
    <li>
      <a routerLink="/journals" routerLinkActive="active">Journals</a>
    </li>
    <li>
      <a routerLink="/taxreturnsummary" routerLinkActive="active">Tax Return Summary</a>
    </li>
  </ul>
</nav>
<!--div class="tab-content">
  <app-usage *ngIf="activeTab === 'usage'"></app-usage>
  <app-imports *ngIf="activeTab === 'imports'"></app-imports>
  <app-journals *ngIf="activeTab === 'journals'"></app-journals>
  <app-taxreturnsummary *ngIf="activeTab === 'taxreturnsummary'"></app-taxreturnsummary>
</div-->
