<div class="chatbot-container">
  <div class="chatbot-header">
    <span>Chatbot</span>
    <button class="close-btn" (click)="onClose()">×</button>
  </div>
  <div class="chatbot-messages">
    <ng-container *ngIf="messages.length > 0; else noMessages">
      <div *ngFor="let msg of messages" [ngClass]="msg.from">
        <span>{{msg.text}}</span>
      </div>
    </ng-container>
    <ng-template #noMessages>
      <div class="bot"><span>Start the conversation!</span></div>
    </ng-template>
  </div>
  <div class="chatbot-input">
    <input [(ngModel)]="userInput" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
